<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>安享天年</title>
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//djangogirlstaipei.github.io/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1 class="site-title text-center">
            <a href="/">Requiescat in Pace</a>
        </h1>
    </div>
    <div class="container">
        {% for ins in ins_list %}
        <div class="ins-wrapper">
            <div class="ins">
                <div class="ins-heading">
                    <h2 class="title">
                        <a href="#">{{ ins.ins_name }}</a>
                    </h2>
                    <div class="date"></div>
                </div>
                <div class="ins-content read-more-block">
                    {{ ins.address }}
                </div>
                <div class="ins-footer">
                    <a class="read-more" href="#">
                        Read More <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>