<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>Hello World!</h1>
        <em>
            {% for ins in ins_list %}
            <div>
            {{ ins.ins_id }}
            {{ ins.ins_name }}
            </div>
            {% endfor %}
        </em>
    </body>
</html>