
<!doctype html>
<html>
  <head>
    <title>註冊</title>
    <meta charset="utf-8">
  </head>
  <body>
        <ul id="menu">
                <li><a href="{% url 'main:main' %}">首頁</a></li>
                <li><a href="{% url 'main:institution' %}">機構列表</a></li>
                <li><a href="{% url 'main:register' %}">註冊</a></li>
        </ul>
    
        <form method="post" action="{% url 'main:login' %}">
            {% csrf_token %}
            <p>使用者名稱：<input type="text" name="username"></p>
            <p>密碼：<input type="password" name="password"></p>
            <p><input type="submit" value="送出"></p>
        </form>
        
  </body>
</html>